.bg {
    position: fixed;
    top:0;
    left: 0;

    height: 100%;
    width: 100%;
     object-fit: cover;
   z-index: -1;
   
}
.nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%; 
     background: rgba(0,0,0, 0.3);
     display: flex;
     justify-content: center;
     padding: 15px;
 
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 65px;

}

.nav li a {
    text-decoration: none;
    color: aqua;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;

}
 .nav li a:hover {
    color: yellow;
 }
 #dynamic{
    
  margin-top: 100px;

 }
 .button + input{
    border-color: aqua;
    
    width: 50px;
    height: 50px;
 }
 .player-card {
    
    color: white;
    max-width: 400px;
 }